In [1]:
f = open('test.txt')
data  = f.read()
f.close()

In [2]:
data

'name\tmath\tscience\tenglish\tHindi\nram\t65\t75\t85\t67\nshyam\t70\t80\t77\t80\nhari\t55\t56\t85\t67\nmohan\t87\t76\t67\t78\nbharat\t45\t34\t67\t67\nparth\t78\t23\t23\t34\nsamridhi\t00\t78\t67\t23\nsonali\t23\t80\t56\t87\nsachin\t67\t56\t56\t46\nrajat\t46\t78\t65\t57\nnaveen\t78\t36\t45\t45\nabhishek\t87\t79\t10\t55\nchitrank\t87\t56\t35\t66\naman\t35\t36\t67\t65\n'

In [3]:
lines  = data.split('\n')

In [23]:
lines

['name\tmath\tscience\tenglish\tHindi',
 'ram\t65\t75\t85\t67',
 'shyam\t70\t80\t77\t80',
 'hari\t55\t56\t85\t67',
 'mohan\t87\t76\t67\t78',
 'bharat\t45\t34\t67\t67',
 'parth\t78\t23\t23\t34',
 'samridhi\t00\t78\t67\t23',
 'sonali\t23\t80\t56\t87',
 'sachin\t67\t56\t56\t46',
 'rajat\t46\t78\t65\t57',
 'naveen\t78\t36\t45\t45',
 'abhishek\t87\t79\t10\t55',
 'chitrank\t87\t56\t35\t66',
 'aman\t35\t36\t67\t65',
 '']

In [5]:
values = []
for line in lines :
    d  = line.split('\t')
    values.append(d)

In [26]:
values

[['name', 'math', 'science', 'english', 'Hindi'],
 ['ram', '65', '75', '85', '67'],
 ['shyam', '70', '80', '77', '80'],
 ['hari', '55', '56', '85', '67'],
 ['mohan', '87', '76', '67', '78'],
 ['bharat', '45', '34', '67', '67'],
 ['parth', '78', '23', '23', '34'],
 ['samridhi', '00', '78', '67', '23'],
 ['sonali', '23', '80', '56', '87'],
 ['sachin', '67', '56', '56', '46'],
 ['rajat', '46', '78', '65', '57'],
 ['naveen', '78', '36', '45', '45'],
 ['abhishek', '87', '79', '10', '55'],
 ['chitrank', '87', '56', '35', '66'],
 ['aman', '35', '36', '67', '65'],
 ['']]

In [27]:
col_name = values[0]

In [28]:
col_name

['name', 'math', 'science', 'english', 'Hindi']

In [36]:
user_name = []
user_marks = []
for data in values[1:] :
    user_name.append(data[0])
    user_marks.append(sum(list(map(int,data[1:])))/4)

In [37]:
print(user_name)
print(user_marks)

['ram', 'shyam', 'hari', 'mohan', 'bharat', 'parth', 'samridhi', 'sonali', 'sachin', 'rajat', 'naveen', 'abhishek', 'chitrank', 'aman', '']
[73.0, 76.75, 65.75, 77.0, 53.25, 39.5, 42.0, 61.5, 56.25, 61.5, 51.0, 57.75, 61.0, 50.75, 0.0]

In [38]:
user_marks.insert(0,'Percentage')

In [40]:
print(user_marks)
print(values)

['Percentage', 73.0, 76.75, 65.75, 77.0, 53.25, 39.5, 42.0, 61.5, 56.25, 61.5, 51.0, 57.75, 61.0, 50.75, 0.0]
[['name', 'math', 'science', 'english', 'Hindi'], ['ram', '65', '75', '85', '67'], ['shyam', '70', '80', '77', '80'], ['hari', '55', '56', '85', '67'], ['mohan', '87', '76', '67', '78'], ['bharat', '45', '34', '67', '67'], ['parth', '78', '23', '23', '34'], ['samridhi', '00', '78', '67', '23'], ['sonali', '23', '80', '56', '87'], ['sachin', '67', '56', '56', '46'], ['rajat', '46', '78', '65', '57'], ['naveen', '78', '36', '45', '45'], ['abhishek', '87', '79', '10', '55'], ['chitrank', '87', '56', '35', '66'], ['aman', '35', '36', '67', '65'], ['']]

In [41]:
for line in range(0,len(lines)) :
    values[line].append(str(user_marks[line]))

In [42]:
values

[['name', 'math', 'science', 'english', 'Hindi', 'Percentage'],
 ['ram', '65', '75', '85', '67', '73.0'],
 ['shyam', '70', '80', '77', '80', '76.75'],
 ['hari', '55', '56', '85', '67', '65.75'],
 ['mohan', '87', '76', '67', '78', '77.0'],
 ['bharat', '45', '34', '67', '67', '53.25'],
 ['parth', '78', '23', '23', '34', '39.5'],
 ['samridhi', '00', '78', '67', '23', '42.0'],
 ['sonali', '23', '80', '56', '87', '61.5'],
 ['sachin', '67', '56', '56', '46', '56.25'],
 ['rajat', '46', '78', '65', '57', '61.5'],
 ['naveen', '78', '36', '45', '45', '51.0'],
 ['abhishek', '87', '79', '10', '55', '57.75'],
 ['chitrank', '87', '56', '35', '66', '61.0'],
 ['aman', '35', '36', '67', '65', '50.75'],
 ['', '0.0']]

In [44]:
new_data = []
for line in values:
    new_data.append('\t'.join(line))

In [46]:
new_str = '\n'.join(new_data)

In [47]:
new_str

'name\tmath\tscience\tenglish\tHindi\tPercentage\nram\t65\t75\t85\t67\t73.0\nshyam\t70\t80\t77\t80\t76.75\nhari\t55\t56\t85\t67\t65.75\nmohan\t87\t76\t67\t78\t77.0\nbharat\t45\t34\t67\t67\t53.25\nparth\t78\t23\t23\t34\t39.5\nsamridhi\t00\t78\t67\t23\t42.0\nsonali\t23\t80\t56\t87\t61.5\nsachin\t67\t56\t56\t46\t56.25\nrajat\t46\t78\t65\t57\t61.5\nnaveen\t78\t36\t45\t45\t51.0\nabhishek\t87\t79\t10\t55\t57.75\nchitrank\t87\t56\t35\t66\t61.0\naman\t35\t36\t67\t65\t50.75\n\t0.0'

In [48]:
f  = open('result.txt','w')
f.write(new_str)
f.close()

In [59]:
import pandas as pd
data = pd.read_csv('test.txt',sep='\t')

In [60]:
data

        name  math  science  english  Hindi
0        ram    65       75       85     67
1      shyam    70       80       77     80
2       hari    55       56       85     67
3      mohan    87       76       67     78
4     bharat    45       34       67     67
5      parth    78       23       23     34
6   samridhi     0       78       67     23
7     sonali    23       80       56     87
8     sachin    67       56       56     46
9      rajat    46       78       65     57
10    naveen    78       36       45     45
11  abhishek    87       79       10     55
12  chitrank    87       56       35     66
13      aman    35       36       67     65

In [61]:
data.mean()

math       58.785714
science    60.214286
english    57.500000
Hindi      59.785714
dtype: float64

In [63]:
data.median()

math       66.0
science    65.5
english    66.0
Hindi      65.5
dtype: float64

In [64]:
data.std()

math       26.353159
science    20.632978
english    22.228706
Hindi      17.889312
dtype: float64